.page-services-single {
  .content {
    p {
      margin-top: 2%;
    }

    // > p {
    //   &:first-of-type {
    //     font-size: 1.2rem;
    //     line-height: 1.5;
    //     margin-bottom: 40px;
    //     font-weight: 300;
    //     @include media-breakpoint-up(md) {
    //       font-size: 1.4rem;
    //       line-height: 1.4;
    //       margin-bottom: 40px;
    //       font-weight: 300;
    //     }
    //   }
    // }

    * {
      box-sizing: border-box;
    }

    /* scrollama */

    #scroll {
      position: relative;
      background: $black;
    }

    .scroll__text {
      position: relative;
      padding: 0 1rem;
      margin: 0 auto;
    }

    .step {
      margin: 2rem auto 4rem auto;
      text-align: center;

      p,
      h1,
      h2 {
        color: $black;
        transition: color 1s;
      }
    }

    .step.is-active {

      p,
      h1,
      h2 {
        color: $white;
        transition: color 1s;
      }
    }
  }
}