.hero-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  background-blend-mode: overlay;
  height: 400px;
  position: relative;
  .container {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .row {
    height: inherit;
  }
  .hero-text {
    flex: 0;
    color: $white;
    margin: auto 0;
    h1 {
      font-size: 3rem;
      @include media-breakpoint-up(md) {
        font-size: 4rem;
        width: 80%;
        text-align: center;
        margin: 5% 10%;
        text-transform: uppercase;
      }
    }
    h2 {
      font-size: 2.2rem;
      @include media-breakpoint-up(md) {
        font-size: 2.4rem;
      }
    }
    p {
      font-size: 1rem;
      line-height: 1.4;
    }
  }
  .hero-down {
    flex: 0;
    text-align: center;
    opacity: 0.7;
    &:hover {
      opacity: 1;
    }
  }
  .hero-section {
    display: none;
  }
}
.hero-image-fullscreen {
  height: 100vh;
}
.hero-image-setheight {
  height: 750px;
}
.hero-image-blend-overlay {
  background-blend-mode: overlay;
}

.aftermath {
  margin: 0 auto;
  height: 80px;
  width: auto;
  margin-top: 15vh;
}

.logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
}
